.card {
  width: 750px;
  margin: 10px auto;
  background: gray;
  box-shadow: 10px 5px 5px gray;
}
.card-header {
  text-align: left;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
img {
  width: 120px;
}

li {
  list-style-type: none;
}

.col {
  font-family: "Poppins", sans-serif;
}
.city {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: darkgrey;
  text-decoration: underline;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  background-color: rgb(224, 155, 28);
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}
p {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: blue;
}

.temp {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(159, 43, 43);
}
.hum {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgb(24, 24, 97);
}
.wind {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgb(24, 24, 97);
}

.card-body {
  margin: 0px auto;
}
.card-title {
  text-align: center;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  color: blue;
}
.card-subtitle {
  text-align: center;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: blue;
}
.card-text {
  text-align: center;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: darkblue;
}
